<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Application</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>

        <div class="container">
            <header class="header">
                <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
                <nav class="menu">
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a class="menu-link" href="{{ url_for('index') }}">
                                Home
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ url_for('index') }}">
                                Profile
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ url_for('index') }}">
                                Products
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ url_for('index') }}">
                                Contact
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>
                {% block content %} {% endblock %}
            <footer class="footer">
                <p> Copyright &copy; {{ year }} - Developed by João Victor Rocha </p>
            </footer>
        </div>

    </body>
</html>
