@import url('https://fonts.googleapis.com/css2?family=Andada&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Andada', serif;
    font-size: 14pt;
    background-color: #E4E9EF;
}

body {
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo {
    width: 150px;
    height: 150px;
}

.menu {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list {
    list-style: none;
    display: inline;
}

.menu-item {
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    margin: 2px 5px;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
    background-color: #504D4D;
}

.menu-link {
    margin: 4px 2px;
    text-decoration: none;
    background-color: #504D4D;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
}

.footer {
    clear: both;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.title {
    margin-bottom: 10px;
}

.text {
    font-size: 18px;
    text-indent: 1rem;
    text-align: justify;
}
